<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Cadastrar reserva</title>
<script type="text/javascript">
 function consulta() {
 window.open("/sig/reservas");
 }
 </script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<header th:replace="fragments/header :: menuSuperior">
		<div>header</div>
	</header>
	<div class="container my-5">
		<br />
		<h3>Cadastrar reserva</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<form action="#" th:action="@{/sig/reservas}"
						th:object="${reserva}" method="post">
						<div class="row">
							<div class="form-group col-md-4">
								<label for="cpf" class="col-form-label">CPF</label> <input
									type="text" th:field="*{cpf}" class="form-control" id="cpf"
									placeholder="CPF"> <span
									th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"
									class="textdanger"> </span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-8">
								<label for="numQuarto" class="col-form-label">Número do
									quarto</label> <input type="number" th:field="*{numQuarto}"
									class="form-control" id="numQuarto"
									placeholder="Número do quarto"> <span
									th:if="${#fields.hasErrors('numQuarto')}"
									th:errors="*{numQuarto}" class="textdanger"></span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-8">
								<label for="dataEntrada" class="col-form-label">Data
									entrada</label> <input type="date" th:field="*{dataEntrada}"
									class="form-control" id="dataEntrada"
									placeholder="Data entrada"> <span
									th:if="${#fields.hasErrors('dataEntrada')}"
									th:errors="*{dataEntrada}" class="textdanger"></span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-8">
								<label for="dataSaida" class="col-form-label">Data saída</label>
								<input type="date" th:field="*{dataSaida}" class="form-control"
									id="dataSaida" placeholder="Data saída"> <span
									th:if="${#fields.hasErrors('dataSaida')}"
									th:errors="*{dataSaida}" class="textdanger"></span>
							</div>
						</div>
						<div class="form-group col-md-8">
							<input type="submit" class="btn btn-success"
								value="Cadastrar reserva"> <input type="button"
								class="btn btn-info" value="Consultar reserva"
								onclick="consulta();">
						</div>
					</form>
				</div>
			</div>
			<h6 th:text="${message}" class="text-danger"></h6>
		</div>
		<footer th:replace="fragments/footer :: rodape">
			<div>footer</div>
		</footer>
</body>
</html>